/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/07/2017, 16:50:35
    Author     : aalvessa
*/

.tipos-recipientes {
    height: 370px;
    width: 800px;
    background: url(../img/ajuda/figuras.png);
}